/* general */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: #FAF3E0;
  color: #5A5A5A; 
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100%;
  margin: 2vh,2vw;
}

.header {
  display: flex;
  flex-direction: column;
  width: calc(100vw-20px);
  height: 20px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #333;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #FFD700;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #E6A57E;
  color: white;
  padding: 20px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
}

.profile-image {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid white;
}
.sidebar h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  text-shadow: 0 0 5px #FFD700;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FAF3E0;
  overflow-y: visible;
  top: 0;
  left: 20px;
  width: calc(100vw-20px);
  height: calc(100vh - 20px);
}
.content h1 {
  color: #5C4033;
  text-align: center;
}

.content h2 {
  color: #A4562B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.content p, .content li {
  color: #5A5A5A;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
}

.content code {
  background-color: #F4F4F4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  color: #4F4F4F;
  text-align: left;
}

.content pre {
  background-color: #F4F4F4;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  color: #4F4F4F;
  overflow-x: auto;
}


/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    flex: unset;
    width: 100%;
    position: relative;
  }

  .content {
    flex: unset;
    width: 100%;
  }

  .header {
    flex-direction: column;
    padding: 10px 15px;
  }

  .header nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header nav ul li a {
    font-size: 18px;
  }
}