/* general */
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: #FAF3E0;
  color: #5A5A5A; 
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  background-color: #E6A57E;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.profile-image {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid white;
}
.sidebar h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  text-shadow: 0 0 5px #FFD700;
}

.content {
  flex: 3;
  padding: 20px;
  background-color: #FAF3E0;
  height: 100vh;
  overflow-y: auto;
}
.content h1 {
  color: #5C4033;
  text-align: center;
}

.content h2 {
  display: inline-block;
  background-color: #FFD700;
  padding: 2px 5px;
  border-radius: 5px;
}

.content p, .content li {
  color: #5A5A5A;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    flex: unset;
    width: 100%;
  }

  .content {
    flex: unset;
    width: 100%;
  }
}